

// Moudule: Footer
// ===


#site-footer {
	width: 100%;
	clear: both;
	float: left;
	margin-top: 45px;
	margin-bottom: 75px;
	.is_constrained {
		max-width: 992px;
	}
}

.site-footer__legal {
	font-size: 15px;
	margin: 0 30px 30px 0;
	width: 100%;
	text-align: center;

	@include medium {
		float: left;
		width: auto;
		text-align: left;
	}
}

#footer-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: none;

	@include medium {
		float: left;		
	}
}

.footer-nav__item {
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;

	@include medium {
		float: left;
		width: auto;
		text-align: auto;
		margin-bottom: 0;
	}
}

.footer-nav__link {
	color: #fef378;
	white-space: nowrap;
	text-decoration: none;
	margin: 0 15px;
}


