
// Moudule: Grid
// ===


.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}

.grid__item {
	width: 100%;
	display: block;
	position: relative;
	padding-top: 52.5%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 28px;
	box-shadow: 0 0 20px rgba(#000, 0.55);
	
	&:hover {
		transform: scale(0.95);
	}

	@include large {
		width: 46.8%;
		padding-top: 32.5%;
	}
}

.grid__item:nth-child(1) {
	background-image: url('../images/homepage_grid_01.jpg');
}

.grid__item:nth-child(2) {
	background-image: url('../images/homepage_grid_02.jpg');
	
	.grid__title-block {
		color: #cbaf92;
	}
}

.grid__item:nth-child(3) {
	background-image: url('../images/homepage_grid_03.jpg');
	
	.grid__title-block {	
		color: #2d3141;
	}
}

.grid__item:nth-child(4) {
	background-image: url('../images/homepage_grid_04.jpg');
}

.grid__title-block {
	left: 0;
	right: 0;
	color: #fff;
	bottom: 25px;
	padding: 0 25px;
	position: absolute;
}

.grid__title {
	margin: 0 0 8px 0;
}

.grid__sub-title {
	margin: 0;
}





