
// Modules: Header
// ===

#site-header {
	width: 100%;
	height: 20px;
	overflow: hidden;
	@include clearfix;
	margin-bottom: 20px;
	background-color: rgba(#000, 0.38);
	padding: 20px 0 25px 0;
	position: relative;
	z-index: $zIndex-3--siteHeader;

	@include small {
		margin-bottom: 80px;
	}
}

#site-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
	display: none;
	transition: opacity 100ms linear;

	@include small {
		display: block;
	}
}

.site-nav__item {
	float: left;
	&:last-child {
		padding-right: 25px;
	}
}

.site-nav__link {
	color: #fff;
	margin: 0 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-regular;
	letter-spacing: 0.2rem;
	font-size: 18px;
}

.search-trigger {
    display: block;
    width: 19px;
    height: 20px;
    background-image: url("../images/sprite.png");
    background-size: cover;
    float: right;
    position: relative;
    margin-right: 25px;
    z-index: $zIndex-2--searchTrigger;

    @include small {
    	margin-right: 0;
    }
}


.site-header__search {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: block;
	position: absolute;
	max-width: 650px;
	margin: 0 auto;
	background-color: #3a3c3f;
	outline: 0;
	border: 0;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: $zIndex-1--searchInput;
	transition: opacity 100ms linear;
	transform: translate3d(0,-100%,0);
	transition: transform 150ms $easeOutSine;
}


.is_active {
	@include medium {
		#site-nav {
			opacity: 0;
		}
	}

	.site-header__search {
		transform: translate3d(0,0,0);
	}
}





