
// Modules: Mobile Nav
// ===

.mobile-nav-trigger {
    float: left;
    height: 24px;
    width: 26px;
    display: block;
    margin-left: 25px;
    background-image: url(../images/sprite.png);
    background-position: 26px 0;
    background-size: cover;

	@include small {
		display: none;
	}
}

#mobile-nav {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #3a3c3f;
	position: absolute;
	transform: translate3d(0,-100%,0);
	z-index: $zIndex-1--mobileNav;
	transition: transform 150ms $ease-in-out;

	&.is_active {
		transform: translate3d(0,65px,0);
	}
}

.mobile-nav__item {
	width: 100%;
	text-align: center;
	padding: 13.5px 0 13.5px 0;
	border-bottom: solid 1px rgba(#000, 0.15);
}

.mobile-nav__link {
	text-align: center;
	color: #fff;
	text-decoration: none;
}


