
// Modules: Top Songs
// ===

.top-songs__headline {
	margin: 0 0 10px 0;
}

.top-songs__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-songs__item {
	width: 100%;
	margin-bottom: 15px;
	height: 75px;
}

.top-songs__link {
	text-decoration: none;
}

.top-songs__title {
	color: #fef378;
	margin: 0 0 5px 0;
	text-transform: capitalize;
	font-size: 18px;
	@include ellipsis;
}

.top-songs__description {
	margin: 0;
	color: #fff;
}

.top-songs__avatar {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 13px rgba(#000, 0.75);
}