
// Utilities: Breakpoints
// ===

.is_constrained {
	position: relative;
	padding: 0 15px;
	display: block;
	margin: 0 auto;
	@inlcude clearfix;

	@include x-small {
		max-width: $x-small-width;
	}
	@include small {
		max-width: $small-width;
	}
	@include medium {
		max-width: $medium-width;
	}
	@include large {
		max-width: $large-width;
	}
}

.is_constrained--narrow {
	position: relative;
	padding: 0 15px;
	display: block;
	margin: 0 auto;
	@inlcude clearfix;

	@include x-small {
		max-width: $x-small-width;
	}
	@include small {
		max-width: $small-width;
	}
	@include medium {
		max-width: $medium-width;
	}
}

.is_constrained--ultra-narrow {
	position: relative;
	padding: 0 15px;
	display: block;
	margin: 0 auto;
	@inlcude clearfix;

	@include x-small {
		max-width: 610px;
	}
}






