
/* MIXINS

  - vertical align
  - clearfix
  - text shadow
  - box shadow
  - rem calculation
  - transition
  - transform
  - visually hide
  - social hover pattern
  - input placeholder
  - ellipsis (...)

  ============================= */

/* media queries */
@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* media queries */
@mixin x-small {
  @media (min-width: #{$x-small-width}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* visually hidden */
@mixin visuallyhide {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*
Text Shadow
--------------------------
@param {Size} $x [2px] - X
@param {Size} $y [2px] - Y
@param {Size} $blur [2px] - Blur
@param {Color} $color [rgba(0,0,0,.4)] - Color
*/

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

/*
Boxshadow
--------------------------
@param {Size} $x [2px] - X
@param {Size} $y [2px] - Y
@param {Size} $blur [2px] - Blur
@param {Color} $color [rgba(0,0,0,.4)] - Color
*/

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  box-shadow: $x $y $blur $color;
}

/*
Font Size
--------------------------
@param {Size} [size]px
*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*
transition
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*
transform
*/

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}


/*
  social hover pattern
  --------------------------
  handles hiding and showing social icons at the
  bottom of blocks
*/

@mixin element-hover-pattern {
  .element__default-state,
  .element__hover-state {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    @include transition(opacity 250ms linear);
  }

  .element__hover-state {
    opacity: 0;
  }

  &:hover .element__default-state {
    opacity: 0;
  }

  &:hover .element__hover-state {
    opacity: 1;
  }
}

/*
  placeholder color
  --------------------------
  handles styling input placeholder
*/

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {   /* Older versions of Firefox */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}


/*
  ellipsis
  --------------------------
  adds ellipsis to a long single words
*/

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

