/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$hamburger-icon-name: 'hamburger-icon';
$hamburger-icon-x: 32px;
$hamburger-icon-y: 0px;
$hamburger-icon-offset-x: -32px;
$hamburger-icon-offset-y: 0px;
$hamburger-icon-width: 36px;
$hamburger-icon-height: 25px;
$hamburger-icon-total-width: 68px;
$hamburger-icon-total-height: 32px;
$hamburger-icon-image: '../images/sprite.png';
$hamburger-icon: (32px, 0px, -32px, 0px, 36px, 25px, 68px, 32px, '../images/sprite.png', 'hamburger-icon', );
$search-icon-name: 'search-icon';
$search-icon-x: 0px;
$search-icon-y: 0px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: 0px;
$search-icon-width: 32px;
$search-icon-height: 32px;
$search-icon-total-width: 68px;
$search-icon-total-height: 32px;
$search-icon-image: '../images/sprite.png';
$search-icon: (0px, 0px, 0px, 0px, 32px, 32px, 68px, 32px, '../images/sprite.png', 'search-icon', );
$spritesheet-width: 68px;
$spritesheet-height: 32px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($hamburger-icon, $search-icon, );
$spritesheet: (68px, 32px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
