

// Structures: Defaults
// ===

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: #fff;
	background-color: #101113;
	font-family: $font-regular;
	text-transform: uppercase;
	background-size: cover;
	background-attachment: fixed;

	@include small {
		background-image: url('../images/site_background.jpg');
	}
}



