
// Structure: Homepage
// ===

.site-content__left-col {
    width: 100%;

    @include small {
		float: left;	
		padding-right: 35px;    
		width: calc(100% - 356.6px);
    }
}

.site-content__right-col {
	width: 100%;
	margin-top: 50px;

	@include small {
		float: left;
		width: 280px;
		margin-top: 0;
		padding-left: 40px;
		border-left: solid 1px #5c5d60;
	}
}